:root {
  --disabled-color: #9e9e9e;

  --text-black-color: #3f3f3f;
  --text-white-color: #ffffff;

  --default-color: #e0e0e0;
  --default-hover-color: #aeaeae;

  --primary-color: #2962ff;
  --primary-hover-color: #0039cb;
  --primary-variant-color: rgba(41, 98, 255, 0.1);

  --secondary-color: #455a64;
  --secondary-hover-color: #1c313a;

  --danger-color: #d32f2f;
  --danger-hover-color: #9a0007;
}

button {
  border: none;
  border-radius: 6px;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  font: 500 14px/20px "Noto Sans JP", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  box-shadow: none;
  color: var(--disabled-color);
}

.disableShadow {
  box-shadow: none;
}

.icon {
  width: 105px;
}

.material-icons {
  font-size: 14px;
}

.icon--startIcon {
  margin-right: 5px;
}

.icon--endIcon {
  margin-left: 5px;
}

.size--sm {
  min-width: 73px;
  height: 32px;
}

.size--md {
  min-width: 81px;
  height: 36px;
}

.size--lg {
  min-width: 93px;
  height: 42px;
}

.color--default {
  background: var(--default-color);
  border: 1px solid var(--default-color);
  color: var(--text-black-color);
}

.color--default:hover:enabled,
.color--default:focus:enabled {
  background: var(--default-hover-color);
}

.color--primary {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--text-white-color);
}

.color--primary:hover:enabled,
.color--primary:focus:enabled {
  background: var(--primary-hover-color);
}

.color--secondary {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--text-white-color);
}

.color--secondary:hover:enabled,
.color--secondary:focus:enabled {
  background: var(--secondary-hover-color);
}

.color--danger {
  background: var(--danger-color);
  border: 1px solid var(--danger-color);
  color: var(--text-white-color);
}

.color--danger:hover:enabled,
.color--danger:focus:enabled {
  background: var(--danger-hover-color);
}

.variant--outline {
  background: inherit;
  box-shadow: none;
}

.variant--outline.color--primary {
  color: var(--primary-color);
}

.variant--outline:hover:enabled.color--primary,
.variant--outline:focus:enabled.color--primary {
  background: var(--primary-variant-color);
}

.variant--text {
  background: inherit;
  border: none;
  box-shadow: none;
}

.variant--text.color--primary {
  color: var(--primary-color);
}

.variant--text:hover:enabled.color--primary,
.variant--text:focus:enabled.color--primary {
  background: var(--primary-variant-color);
}
