:root {
  --light-gray-color: #828282;
  --error-color: #d32f2f;
  --focus-color: #2962ff;
}

.input-container > label {
  font: 400 12px/17px "Noto Sans JP", sans-serif;
  color: #333333;
}

.input-area {
  display: flex;
  align-items: center;
}

input[type="text"],
textarea {
  width: 200px;
  border: 1px solid var(--light-gray-color);
  border-radius: 8px;
  padding: 18px 12px;
  font: 500 14px/20px "Noto Sans JP", sans-serif;
  color: var(--light-gray-color);
}

textarea {
  resize: none;
}

.input-container > span {
  font: 400 10px/14px "Noto Sans JP", sans-serif;
  color: var(--light-gray-color);
}

.input-container:not(.disabled).error > label,
.input-container:not(.disabled).error > span {
  color: var(--error-color);
}

.input-container:not(.disabled).error input[type="text"],
.input-container:not(.disabled).error textarea {
  border-color: var(--error-color);
}

.input-area {
  min-width: 200px;
  position: relative;
}

.material-icons {
  color: var(--light-gray-color);
}

.icon--startIcon {
  position: absolute;
  left: 12px;
}

.icon--startIcon ~ input[type="text"] {
  padding-left: 45px;
}

.icon--endIcon {
  position: absolute;
  right: 12px;
}

input[type="text"].size--sm {
  height: 40px;
}

input[type="text"].size--md {
  height: 56px;
}

input[type="text"].fullWidth,
textarea.fullWidth {
  width: 100%;
}
