:root {
  --gray-color: #a9a9a9;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  margin-top: max(17px, min(4.533vw, 109px));
  margin-bottom: max(38px, min(10.133vw, 96px));
}

.header__title {
  font: bold 36px/48px "PT Serif";
  letter-spacing: -0.045em;
  margin-right: 50px;
}

.header__about > h2 {
  font: 600 18px/27px "Poppins";
  text-transform: uppercase;
}

/* max(MIN, min(VAL, MAX)) */
.header__about > p {
  font: max(14px, min(2.5vw, 18px)) / max(21px, min(2.5vw, 27px)) "Poppins";
}

main {
  padding: 0 max(17px, min(4.533vw, 30px)) 0 max(12px, min(3.2vw, 240px));
}

.container {
  max-width: 1000px;
}

.profile {
  width: max(150px, min(40vw, 260px));
  height: max(300px, min(80vw, 500px));
  margin-right: 23px;
}

.profile__photo {
  width: max(139px, min(37.067vw, 237px));
}

.profile__name {
  margin-top: max(10px, min(2.667vw, 17px));
  font: 600 max(14px, min(2.5vw, 18px)) / max(21px, min(2.5vw, 27px)) "Poppins";
}

.profile__job {
  font: max(10px, min(1.5vw, 12px)) / max(13px, min(1.5vw, 16px)) "PT Serif";
  text-transform: uppercase;
  display: block;
  width: 140px;
  position: relative;
  top: 0;
  left: max(145px, min(38.667vw, 247px));
  transform-origin: bottom left;
  transform: rotate(90deg);
}

footer {
  margin-top: max(84.94px, min(22.651vw, 104px));
  margin-bottom: max(12px, min(3.2vw, 240px));
}

.attribution > * {
  font: 600 14px/17px "Montserrat";
  color: var(--gray-color);
  text-decoration: none;
}

/*
  Flexbox CSS
*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-wrap: wrap;
}

header > .header__title {
  flex: 1 0 278px;
}

header > .header__about {
  flex: 1 0 333px;
  margin-top: calc(48px - 2.639vw);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profile:nth-child(2n) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (min-width: 800px) {
  .profile:nth-child(2n) {
    justify-content: flex-start;
  }

  .profile:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .profile:nth-child(5) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
