:root {
  --gray-color-1: #333333;
  --gray-color-2: #4f4f4f;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  min-width: 375px;
  min-height: 100vh;
}

header,
footer {
  min-height: 50px;
}

header > h1 {
  padding-left: 4%;
  color: var(--gray-color-1);
  font: bold 24px/25px Inconsolata;
}

section {
  padding: 1% 0 1% 0;
}

.container {
  max-width: clamp(350px, 100vw, 1100px);
}

.picture > img {
  max-width: 80%;
}

.contents {
  padding: 20px;
}

.contents > h2 {
  color: var(--gray-color-1);
  font: bold clamp(48px, 5vw, 64px) / clamp(71px, 5vw, 95px) "Space Mono";
}

.contents > p {
  color: var(--gray-color-2);
  font: clamp(18px, 2vw, 24px) / clamp(27px, 2vw, 36px) "Space Mono";
  margin: 20px 0 20px 0;
}

.contents > span {
  width: 216px;
  height: 68px;
  padding: 24px 43px 23px 43px;
  background-color: var(--gray-color-1);
  font: bold 14px/21px "Space Mono";
  letter-spacing: -0.035em;
}

.contents a {
  color: white;
  text-decoration: none;
}

footer {
  font: 600 14px/17px Montserrat;
}

footer a {
  color: var(--gray-color-1);
  text-decoration: none;
}

/*
  Flexbox CSS
*/

main {
  display: flex;
  flex-direction: column;
}

header,
footer {
  display: flex;
  align-items: center;
}

section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

.container > .picture {
  flex: 1 0 300px;
  display: flex;
  justify-content: center;
}

.container > .contents {
  flex: 3 0 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer > .attribution {
  display: flex;
  justify-content: center;
}
