:root {
  --gray-color-1: #333333;
  --gray-color-2: #4f4f4f;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  min-height: 100vh;
}

header > h1 {
  color: var(--gray-color-1);
  font: bold 24px/25px Inconsolata;
}

.contents > h2 {
  color: var(--gray-color-1);
  font: bold 48px/71px "Space Mono";
}

.contents > p {
  color: var(--gray-color-2);
  font: 18px/27px "Space Mono";
}

.contents > span {
  width: 216px;
  height: 68px;
  padding: 24px 43px 23px 43px;
  background-color: var(--gray-color-1);
  font: bold 14px/21px "Space Mono";
  letter-spacing: -0.035em;
}

.contents a {
  color: white;
  text-decoration: none;
}

footer {
  font: 600 14px/17px Montserrat;
}

footer a {
  color: var(--gray-color-1);
  text-decoration: none;
}
